# VSCode
.vscode/

# Build directories
build/
cmake-build-*/
output/
user_app/build/

# Kernel module build outputs
*.o
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.cmd
Module.symvers
modules.order
.*.cmd
.tmp_versions/

# Dependency / temp
*.d
*.tmp
*.swp
*~

# Logs
*.log

# Binary
*.out
*.elf
*.bin